<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To do App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Simple ToDo</h1>
        <p>Helps you remember important things</p>
      </div>
    </div>

    <div class="tasks">
      <div class="container text-center">
        <form>
          <input type="text" class="" id="inputTask" placeholder="What do you want todo?">
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <div class="display">
      <div class="container">
        <h2 class="text-center">MY TASK LISTS</h2>

        <ul class="list-group">
          <li class="list-group-item">First item</li>
        </ul>

      </div>
    </div>
  </body>
</html>
